[submodule "vendor/Symfony/Component/Yaml"]
	path = vendor/Symfony/Component/Yaml
	url = https://github.com/symfony/Yaml.git
[submodule "vendor/cfpropertylist"]
	path = vendor/cfpropertylist
	url = https://github.com/rodneyrehm/CFPropertyList.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = https://github.com/fabpot/Twig.git
