{% extends "layout.twig" %}

{% block pagetitle %}An error occured — ShopShopList{% endblock %}

{% block title %}An error occured{% endblock %}

{% block content %}
  {% if messages|length > 0 %}
    <div class="section message">
      {% for message in messages %}
        <p>
          {{ message|raw }}
        </p>
      {% endfor %}
    </div>    
  {% endif %}
{% endblock %}