<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="da" lang="da" dir="ltr"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace&v2' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ path('frontpage') }}css/styles.css"/>
  <title>{% block pagetitle %}{% endblock %}</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>{% block title %}{% endblock %}</h1>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer small">
      <a href="https://github.com/kasperg/shopshoplist">ShopShopList</a> by Kasper Garnæs. &hearts; crisp.
    </div>
  </div>
</body>